Repository SDWebImage/SDWebImage, pull requests merged in 2019-11, with the labels that each got.

#2882 Refactory AnimatedImageView with player backend, supports more rendering target like WatchKit/SwiftUI
  Examples/SDWebImage Demo/DetailViewController.m
  Examples/SDWebImage OSX Demo/ViewController.m
  Examples/SDWebImage Watch Demo Extension/InterfaceController.m
  Examples/SDWebImage Watch Demo/Base.lproj/Interface.storyboard
  SDWebImage.xcodeproj/project.pbxproj
  SDWebImage/Core/SDAnimatedImage.h
  SDWebImage/Core/SDAnimatedImage.m
  SDWebImage/Core/SDAnimatedImagePlayer.h
  SDWebImage/Core/SDAnimatedImagePlayer.m
  SDWebImage/Core/SDAnimatedImageView.h
  SDWebImage/Core/SDAnimatedImageView.m
  SDWebImage/Private/SDDeviceHelper.h
  SDWebImage/Private/SDDeviceHelper.m
  Tests/Tests/SDAnimatedImageTest.m
  Tests/Tests/SDUtilsTests.m
  WebImage/SDWebImage.h
Labels: animated image, refactoring, watchOS

#2885 Feature supports to control the AnimatedImage View/Player 's play rate
  Podfile
  SDWebImage/Core/SDAnimatedImagePlayer.h
  SDWebImage/Core/SDAnimatedImagePlayer.m
  SDWebImage/Core/SDAnimatedImageView.h
  SDWebImage/Core/SDAnimatedImageView.m
Labels: animated image

#2886 Support the runloop mode control for macOS. Which can be useful when user want to pause animation when drag the mouse, or presenting modal window
  SDWebImage/Core/SDAnimatedImageView.h
  SDWebImage/Core/SDAnimatedImageView.m
  SDWebImage/Private/SDDisplayLink.m
Labels: animated image, macOS

#2888 Fix the case even when Animated Image View is not visible, user calll startAnimating can still do animation
  SDWebImage/Core/SDAnimatedImagePlayer.m
  SDWebImage/Core/SDAnimatedImageView.m
  Tests/Tests/SDAnimatedImageTest.m
Labels: fix

#2895 Fix animated image playback bugs
  .DS_Store
  Examples/SDWebImage Demo/DetailViewController.m
  Examples/SDWebImage Demo/MasterViewController.m
  SDWebImage/.DS_Store
  SDWebImage/Core/SDAnimatedImagePlayer.m
  SDWebImage/Core/SDAnimatedImageView.m
Labels: animated image

#2898 Allows advanced user to read/write extended metadata associated with image data from disk cache
  SDWebImage.xcodeproj/project.pbxproj
  SDWebImage/Core/SDDiskCache.h
  SDWebImage/Core/SDDiskCache.m
  SDWebImage/Core/SDImageCache.m
  SDWebImage/Core/SDWebImageCacheSerializer.h
  SDWebImage/Core/SDWebImageDefine.m
  SDWebImage/Core/SDWebImageManager.m
  SDWebImage/Core/UIImage+ExtendedCacheData.h
  SDWebImage/Core/UIImage+ExtendedCacheData.m
  SDWebImage/Private/SDFileAttributeHelper.h
  SDWebImage/Private/SDFileAttributeHelper.m
  Tests/Tests/SDImageCacheTests.m
  Tests/Tests/SDUtilsTests.m
  WebImage/SDWebImage.h
Labels: feature
