Repository SDWebImage/SDWebImage, pull requests merged in 2020-07, with the labels that each got.

#3046 Fix the issue of iOS 14 vector image rendering on SDAnimatedImageView
  SDWebImage/Core/SDAnimatedImageView.m
Labels: bug, vector image

#3047 Add the support for that UIImage+MultiFormat methods on SDAnimartedImage, which supports encoding the animation like GIF/APNG/WebP with lower compression quality.
  SDWebImage/Core/SDAnimatedImage.m
  SDWebImage/Core/UIImage+MultiFormat.h
Labels: Behavior Changes, animated image

#3048 Supports built-in WebP/AWebP codec from ImageIO for iOS 14/tvOS 14/macOS 11/watchOS 7
  Examples/SDWebImage Demo.xcodeproj/xcshareddata/xcschemes/SDWebImage Watch Demo.xcscheme
  Examples/SDWebImage Demo/AppDelegate.m
  Examples/SDWebImage Demo/MasterViewController.m
  Examples/SDWebImage OSX Demo/AppDelegate.m
  Examples/SDWebImage OSX Demo/ViewController.m
  Examples/SDWebImage TV Demo/AppDelegate.m
  Examples/SDWebImage TV Demo/ViewController.m
  Examples/SDWebImage Watch Demo Extension/ExtensionDelegate.m
  Examples/SDWebImage Watch Demo Extension/InterfaceController.m
  SDWebImage.xcodeproj/project.pbxproj
  SDWebImage/Core/NSData+ImageContentType.m
  SDWebImage/Core/SDAnimatedImageRep.m
  SDWebImage/Core/SDImageAWebPCoder.h
  SDWebImage/Core/SDImageAWebPCoder.m
  SDWebImage/Core/SDImageHEICCoder.h
  SDWebImage/Core/SDImageHEICCoder.m
  SDWebImage/Core/SDImageIOAnimatedCoder.m
  SDWebImage/Core/SDImageIOCoder.m
  SDWebImage/Private/SDImageHEICCoderInternal.h
  SDWebImage/Private/SDImageIOAnimatedCoderInternal.h
  SDWebImage/include/SDWebImage/SDImageAWebPCoder.h
  Tests/SDWebImage Tests.xcodeproj/project.pbxproj
  Tests/Tests/Images/TestImageAnimated.webp
  Tests/Tests/Images/TestImageStatic.webp
  Tests/Tests/SDImageCoderTests.m
  WebImage/SDWebImage.h
Labels: ImageIO, WebP, animated image

#3052 Try to copy the local NSMutableDictionary before calling CGImageSourceCreateImageAtIndex, try to solve the rare crash inside ImageIO call stack.
  SDWebImage/Core/SDImageIOAnimatedCoder.m
Labels: ImageIO, crash

#3053 Fix race condition when use transition but canceling an operation
  SDWebImage/Core/UIView+WebCache.h
  SDWebImage/Core/UIView+WebCache.m
  Tests/Tests/SDWebCacheCategoriesTests.m
Labels: view category
