Repository SDWebImage/SDWebImage, pull requests merged in 2022-12, with the labels that each got.

#3459 The poster image should not trigger a frameChange callback
  SDWebImage/Core/SDAnimatedImagePlayer.m
Labels: bug, animated image

#3452 [Performance]when frame timestamp not reached, we should prefetch frame in advance for image render.
  SDWebImage/Core/SDAnimatedImagePlayer.m
Labels: performance, animated image

#3460 Added `ioQueueAttributes` to use concurrent or control QoS for image cache internal IO Queue
  SDWebImage/Core/SDImageCache.m
  SDWebImage/Core/SDImageCacheConfig.h
  SDWebImage/Core/SDImageCacheConfig.m
  Tests/Tests/SDImageCacheTests.m
Labels: performance, cache

#3461 Fix the iOS 15+ force-decode hack break Apple's HEIF and JPEG YUV420 optimization
  SDWebImage/Core/SDImageIOAnimatedCoder.m
  SDWebImage/Core/SDImageIOCoder.m
  SDWebImage/Private/SDImageIOAnimatedCoderInternal.h
  Tests/Tests/SDImageCoderTests.m
Labels: bug, performance
