Repository SDWebImage/SDWebImage, pull requests merged in 2024-10, with the labels that each got.

#3757 build: download visionOS SDK before CI/CD
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Labels: github-action

#3749 [Behavior changes] Add blend mode to UIImage+Transform tint color API, default blend mode changed to sourceIn
  SDWebImage/Core/SDImageTransformer.h
  SDWebImage/Core/SDImageTransformer.m
  SDWebImage/Core/UIImage+Transform.h
  SDWebImage/Core/UIImage+Transform.m
  Tests/Tests/SDImageTransformerTests.m
Labels: Behavior Changes

#3759 Fix issue causing disk cache eviction LRU to not function as expected.
  SDWebImage/Core/SDDiskCache.m
  SDWebImage/Core/SDImageCacheConfig.h
  SDWebImage/Core/SDImageCacheConfig.m
  Tests/Tests/SDWebImageTestCache.m
Labels: Behavior Changes, cache
