Repository SDWebImage/SDWebImage, pull requests merged in 2024-02, with the labels that each got.

#3672 add missing break keyword while converting NSData to SDImageFormat
  SDWebImage/Core/NSData+ImageContentType.m
Labels: fix

#3673 [Part 2]Added the official visionOS support with CocoaPods, include Demo/Tests/CI
  .github/workflows/CI.yml
  Configs/Test-Shared.xcconfig
  Examples/Packages/RealityKitContent/Package.realitycomposerpro/ProjectData/main.json
  Examples/Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/SceneMetadataList.json
  Examples/Packages/RealityKitContent/Package.realitycomposerpro/WorkspaceData/Settings.rcprojectdata
  Examples/Packages/RealityKitContent/Package.swift
  Examples/Packages/RealityKitContent/README.md
  Examples/Packages/RealityKitContent/Sources/RealityKitContent/RealityKitContent.rkassets/Materials/GridMaterial.usda
  Examples/Packages/RealityKitContent/Sources/RealityKitContent/RealityKitContent.rkassets/Scene.usda
  Examples/Packages/RealityKitContent/Sources/RealityKitContent/RealityKitContent.swift
  Examples/SDWebImage Demo.xcodeproj/project.pbxproj
  Examples/SDWebImage Demo.xcodeproj/xcshareddata/xcschemes/SDWebImage Vision Demo.xcscheme
  Examples/SDWebImage Vision Demo/App.swift
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Back.solidimagestacklayer/Content.imageset/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Back.solidimagestacklayer/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Front.solidimagestacklayer/Content.imageset/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Front.solidimagestacklayer/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Middle.solidimagestacklayer/Content.imageset/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/AppIcon.solidimagestack/Middle.solidimagestacklayer/Contents.json
  Examples/SDWebImage Vision Demo/Assets.xcassets/Contents.json
  Examples/SDWebImage Vision Demo/ContentView.swift
  Examples/SDWebImage Vision Demo/DetailView.swift
  Examples/SDWebImage Vision Demo/Info.plist
  Examples/SDWebImage Vision Demo/Preview Content/Preview Assets.xcassets/Contents.json
  Podfile
  README.md
  SDWebImage.podspec
  Tests/Expecta.podspec
  Tests/KVOController.podspec
  Tests/SDWebImage Tests.xcodeproj/project.pbxproj
  Tests/SDWebImage Tests.xcodeproj/xcshareddata/xcschemes/Tests Vision.xcscheme
  Tests/Tests Vision/Info.plist
  Tests/Tests/SDAnimatedImageTest.m
  Tests/Tests/SDImageCacheTests.m
  Tests/Tests/SDImageCoderTests.m
  Tests/Tests/SDImageTransformerTests.m
  Tests/Tests/SDTestCase.h
  Tests/Tests/SDTestCase.m
  Tests/Tests/SDUtilsTests.m
  Tests/Tests/SDWebCacheCategoriesTests.m
  Tests/Tests/SDWebImageDownloaderTests.m
  Tests/Tests/SDWebImageManagerTests.m
Labels: demo, test, visionOS

#3677 [github action] Bumped to macos-14 and remove the unused visionOS download toolchain steps
  .github/workflows/CI.yml
Labels: github-action

#3678 Fix the issue that iOS 17 indexed PNG workaround breaks the 16bit RGBA PNG
  .github/workflows/CI.yml
  SDWebImage/Core/SDImageCoderHelper.m
  SDWebImage/Core/SDImageIOAnimatedCoder.m
  Tests/SDWebImage Tests.xcodeproj/project.pbxproj
  Tests/Tests/Images/RGBA16PNG.png
  Tests/Tests/SDAnimatedImageTest.m
  Tests/Tests/SDImageCoderTests.m
  Tests/Tests/SDTestCase.m
  Tests/Tests/SDWebImageManagerTests.m
Labels: apple bug

#3679 [github-action] Try to workaround visionOS simulator bug in unit tests
  .github/workflows/CI.yml
Labels: github-action, visionOS

#3684 Fix the unit test `test31ThatMultipleRequestForSameURLFailedCallback`
  Tests/Tests/SDImageCoderTests.m
  Tests/Tests/SDWebImageDownloaderTests.m
Labels: test

#3683 mark `SDWebImageCacheKeyFilter` default initializer unavailable & add missing default case of `SDCallbackQueue` sync/async function
  SDWebImage/Core/SDCallbackQueue.m
  SDWebImage/Core/SDDiskCache.h
  SDWebImage/Core/SDImageTransformer.h
  SDWebImage/Core/SDWebImageCacheKeyFilter.h
  SDWebImage/Core/SDWebImageCacheSerializer.h
  SDWebImage/Core/SDWebImageDownloaderDecryptor.h
  SDWebImage/Core/SDWebImageDownloaderRequestModifier.h
  SDWebImage/Core/SDWebImageDownloaderResponseModifier.h
  SDWebImage/Core/SDWebImageOptionsProcessor.h
Labels: gardening
